{{> dashboard_nav}}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <!-- Invoice detail -->
        <div class="card">
            <h5 class="card-header">Order Details</h5>
            <div class="card-body">

                <p class="text-capitalize"><b>Order No / Invoice No:</b> #ord{{order.id}}</p>
                <p class="text-capitalize"><b>Order Date: &nbsp;</b>{{order.order_date}}</p>
                <p class="text-capitalize"><b>Status: &nbsp;</b>{{order.status}}</p>

                <hr>
                <h5 class="fs-5">Ordered Items</h5>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items }}
                        <tr>
                            <th scope="row">{{title}}</td>
                            <td>{{ordered_price}}</td>
                            <td>{{ordered_quantity}}</td>
                            <td>{{subtotal}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td>{{totalPrice}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <!-- Shipping Address detail -->
        <div class="card">
            <div class="card-header">
                Shipping Details
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full Name: &nbsp; {{shippingAddress.full_name}}</li>
                    <li class="list-group-item">Email: &nbsp; {{shippingAddress.email}}</li>
                    <li class="list-group-item">Phone: &nbsp; {{shippingAddress.phone}}</li>
                    <li class="list-group-item">Street Address: &nbsp; {{shippingAddress.street_address}}</li>
                    <li class="list-group-item">City: &nbsp; {{shippingAddress.city}}</li>
                </ul>
            </div>
        </div>


    </div>
</div>

{{> dashboard_footer}}