{{> dashboard_nav}}

<div class="container">
    <div class="row">

        <h5 class="fs-5">Customer pending orders</h5>
        {{#if pendingOrders }}
        <table class="table stripped-table">
            <thead>
                <tr>
                    <th scope="col">OrderId
                    <th scope="col">OrderBy</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col"> Customer Email </th>
                    <th scope="col">Process </th>

                </tr>
            </thead>
            <tbody>
                {{#each pendingOrders}}
                <tr>
                    <th scope="row">#ord{{id}}</th>
                    <td>{{name}}</td>
                    <td>{{order_date}}</td>
                    <td>{{status}}</td>
                    <td>{{email}}</td>
                    <td><a class="btn btn-sm btn-primary" href="/dashboard/processOrder/{{id}}">proceed</a></td>
                </tr>
                {{/each}}

            </tbody>
        </table>
        {{else}}
        <div class="alert alert-danger" role="alert">
            No pending orders found
        </div>
        {{/if}}
    </div>
</div>

{{> dashboard_footer}}