{{> dashboard_nav }}





<div class="row">
    {{#each books}}


    <div class="col-md-3 col-sm-12 mb-3">
        <div class="card" style="width: 18rem;">
            <img src="{{thumbnail}}" class="card-img-top" alt="{{thumbnail}}">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                <a href="/book/{{id}}/{{title}}" class="btn btn-dark">Browse</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{> dashboard_footer }}