{{> header }}
<div class="container mt-3">

    <h2 class="fs-5">New Releases</h2>
    <div class="owl-carousel owl-theme">
        {{#each newRelease}}
        <div class="card item" style="width: 14rem;">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h2 class="text-left fs-6">{{title}}</h2>
                <a href="/book/{{id}}/{{title}}" class="btn btn-dark">Browse</a>
            </div>
        </div>
        {{/each}}
    </div>

    <hr>

    <h2 class="fs-5">Best Selling</h2>
    <div class="owl-carousel owl-theme">
        {{#each bestSelling}}
        <div class="card item" style="width: 14rem;">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h2 class="text-left fs-6">{{title}}</h2>
                <a href="/book/{{id}}/{{title}}" class="btn btn-dark">Browse</a>
            </div>
        </div>
        {{/each}}
        <hr>
    </div>

    <hr>
    <h2 class="fs-5">Ebooks</h2>
    <div class="owl-carousel owl-theme mb-5">
        {{#each ebooks}}
        <div class="card item" style="width: 14rem;">
            <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
            <div class="card-body">
                <h2 class="text-left fs-6">{{title}}</h2>
                <a href="/book/{{id}}" class="btn btn-dark">Browse</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>
<hr>
{{> footer }}