{{> header}}

<div class="container mt-5 mb-5">
    <h2 class="fs-5 text-capitalize">{{browseType}} Books</h2>

    <div class="row">
        {{#each books}}
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width: 18rem;">
                <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text fs-5">{{title}}</p>
                    <p><a class="btn btn-dark" href="/book/{{id}}/{{title}}">Browse</a></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<hr>



{{> footer}}